/* Web */

/* TODO: Modify only properties that will be change */

@media only screen and (min-width: 780px) {
  body {
    width: auto;
  }

  header {
    justify-content: space-between;
    text-align: center;
    padding: 10px; /*  Added */
  }

  /* Hamburger Menu Imported */
  .material-symbols-outlined {
    display: none; /* Added */
  }

  nav {
    display: inline; /* added */
  }

  .button {
    margin-left: 0%; /* added */
  }

  .container {
    width: 900px;
  }

  .section {
    padding: 40px;
  }

  .section1 {
    flex-direction: row;
    gap: 30px;
  }

  .section1 img {
    width: 50%;
    border-radius: 30px;
  }

  /* Id Added */
  #catImage2 {
    width: auto; /* fix the problem */
    border-radius: 0px; /* added */
  }

  div h2 {
    font-size: 2.5rem;
    text-align: left; /* added */
  }

  /* .catGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
  } */

  /* .catGrid img {
    width: 100%;
    height: auto;
  } */
}
